body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.rdw-colorpicker-modal {
  width: 175px;
  height: 175px;
}
